
alias gf="git-flow"
alias dirs="ls -al | grep '^d'"     # show the dir's in the current dir

#  cinderella ( http://www.atmos.org/cinderella/intro.html )
#  Runs things on load, which I don't want, so I edited the matching plist files
#  in ~/Library/LaunchAgents and set 'RunAtLoad' and 'KeepAlive' to false
#  opting to start them manually when needed.

alias apachectl='sudo apachectl'
alias mysqlstart='lunchy start mysql'
alias mysqlstop='lunchy stop mysql && mysqld stop'
alias pgstart='lunchy start postgres'
alias pgstop='lunchy stop postres'

alias devstart='apachectl start && lunchy start postgres && lunchy start memcached && lunchy start mysql'
alias devstop='apachectl stop; lunchy stop postgres && lunchy stop mysql'

# make a diff file, view in Textmate (requires Textmate cli)
alias mdiff='git diff > d.diff && mate d.diff'

# wrap git in hub
alias git=hub

#alias for git pulls https://github.com/schacon/git-pulls
alias gp='git pulls'

#alias for lulz
alias pupunit=phpunit

#alias for cucumber; I like to clear display first
alias cucumber='clear; cucumber'
alias rspec='clear; rspec'
alias phing='clear; phing'
alias rake='clear; rake'

# gets cwd
alias getpath='pwd | tr -d "\r\n" | pbcopy'
# get current git branch
alias getbranch='git branch | grep ^* | tr -d "* " | pbcopy &&  pbpaste'

alias gitx='open -a gitx'

alias be='bundle exec'

# all my vhosts share an error_log
alias tailf='tail -f ~/Sites/error_log'


# taken from https://github.com/mathiasbynens/dotfiles

# Shortcuts
alias d="cd ~/Documents/Dropbox"
alias p="cd ~/Projects"
alias g="git"
alias v="vim"
alias m="mate ."

# IP addresses
alias ip="dig +short myip.opendns.com @resolver1.opendns.com"
alias localip="ipconfig getifaddr en1"
alias ips="ifconfig -a | perl -nle'/(\d+\.\d+\.\d+\.\d+)/ && print $1'"

